html { height: 100% ; }

body {
    height: 100%;
    margin: 0;
    font-family: helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
}

body {
    -webkit-background-size: 100% 21px;
    background-color: #c5ccd3;
    background-image:
        -webkit-gradient(linear, left top, right top,
        color-stop(.75, transparent),
        color-stop(.75, rgba(255, 255, 255, .1)) );
    -webkit-background-size: 7px;
}

.view {
    min-height: 100%;
    overflow: auto;
}

.header-wrapper {
    height: 44px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
    border-top: solid 1px rgba(255, 255, 255, 0.6);
    border-bottom: solid 1px rgba(0, 0, 0, 0.6);
    color: #ece496;
    background-color: #6d4115;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(109, 65, 21)), to(rgb(229, 189, 154)));
    background-image: -webkit-linear-gradient(top, rgb(109, 65, 21), rgb(229, 189, 154));
    background-image: -moz-linear-gradient(top, rgb(109, 65, 21), rgb(229, 189, 154));
    background-image: -o-linear-gradient(top, rgb(109, 65, 21), rgb(229, 189, 154));
    background-image: -ms-linear-gradient(top, rgb(109, 65, 21), rgb(229, 189, 154));
    background-image: linear-gradient(top, rgb(109, 65, 21), rgb(229, 189, 154));

    
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
}

.header-wrapper h1 {
    text-align: center;
    font-size: 20px;
    line-height: 44px;
    margin: 0;
}

.group-wrapper {
    margin: 9px;
}

.group-wrapper h2 {
    color: #4c566c;
    font-size: 17px;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    margin: 20px 10px 12px;
}

.group-wrapper p {
    background-color: #fff;
    -webkit-border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    margin: 9px 0 20px;
    border: solid 1px #a9abae;
    padding: 11px 9px 12px;
}

.list-wrapper h2 {
    line-height: 1;
    font-size: 18px;
    padding: 1px 12px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0 1px 0;
    background: left 1px -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(0,0,0,0.18)), color-stop(0.65, transparent)) rgba(178,187,194,0.89);
    -webkit-box-sizing: border-box;
    height: 22px;
    border-bottom: solid 1px rgba(0,0,0,0.18);
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    color: #fff;
}

.list-wrapper ul {
    padding: 0;
    background: #fff;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
}

.list-wrapper ul li {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px;
}

.group-wrapper ul {
    background-color: #fff;
    -webkit-border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    margin: 9px 0 10px;
}

.group-wrapper ul li {
    padding: 11px 9px 12px;
}

.group-wrapper ul {
    font-weight: bold;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    border: solid 1px #a9abae;
}

.group-wrapper ul li:not(:last-child) {
    border-bottom: inherit;
}

.group-wrapper ul li a {
    padding: inherit;
    color: inherit;
    text-decoration: inherit;
    margin: -11px -9px -12px;
    display: block;
}

.group-wrapper ul li:first-child a {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

a.button {
    display: inline-block;
    padding: 20px;
    background-color: #ece496;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 228, 150)), to(rgb(229, 189, 154)));
    background-image: -webkit-linear-gradient(top, rgb(236, 228, 150), rgb(229, 189, 154));
    background-image: -moz-linear-gradient(top, rgb(236, 228, 150), rgb(229, 189, 154));
    background-image: -o-linear-gradient(top, rgb(236, 228, 150), rgb(229, 189, 154));
    background-image: -ms-linear-gradient(top, rgb(236, 228, 150), rgb(229, 189, 154));
    background-image: linear-gradient(top, rgb(236, 228, 150), rgb(229, 189, 154));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ece496', EndColorStr='#e5bd9a');

    color: #blue;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;
    margin-top: 20px;
    margin-left: 70px;
    
    text-align: center;
    line-height: 44px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.group-wrapper ul li:last-child a {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

*:not(input):not(textarea):not(select),
    input[type=image],
    input[type=file],
    input[type=submit],
    input[type=button],
    input[type=reset] {
        -webkit-user-select: none;
}