div.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;    
}

div.viewport {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: none;
}

.red   { background-color: red; }
.blue  { background-color: blue; }
.green { background-color: green; }
