<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" /> 
    
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    
    <script src="lib/iscroll/dist/iscroll-min.js"></script>
    <script src="scripts/main.js"></script>    
</head>

<body>
    <div class="view">
        <div class="header-wrapper">
            <h1>Web App Header</h1>
        </div>
        
        <div class="group-wrapper">
            <div id="scrollwrapper">
                <h2>iPhone</h2>
                <p>Hello World!</p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            </div>
        </div>
    </div>
</body>
</html>
